<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ca" xml:lang="ca">

<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} — FundiPau</title>

    <style type="text/css">
        .slide-excerpt {
            width: 50%;
        }

        .slide-excerpt {
            bottom: 0;
        }

        .slide-excerpt {
            right: 0;
        }

        .flexslider {
            max-width: 1080px;
            max-height: 350px;
        }

        .slide-image {
            max-height: 350px;
        }
    </style>
    <link rel='dns-prefetch' href='//cdn.rawgit.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="FundiPau &raquo; canal d&#039;informació" href="https://fundipau.org/feed/" />
    <link rel="alternate" type="application/rss+xml" title="FundiPau &raquo; Canal dels comentaris" href="https://fundipau.org/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="FundiPau &raquo; Augmenten les vendes de les principals empreses d&#8217;armes Canal dels comentaris" href="http://fundipau.org/creixen-les-vendes-de-les-principals-empreses-darmes/feed/" />
    <link rel="canonical" href="https://fundipau.org/creixen-les-vendes-de-les-principals-empreses-darmes/" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/fundipau.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=108b9b825d66dedf17eb286cac868658"
            }
        };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case "emoji":
                        return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (h = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='validate-engine-css-css' href='https://fundipau.org/wp-content/plugins/wysija-newsletters/css/validationEngine.jquery.css?ver=2.11' type='text/css' media='all' />
    <link rel='stylesheet' id='metro-theme-css' href='https://fundipau.org/wp-content/themes/metro/style.css?ver=2.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='https://fundipau.org/wp-includes/css/dist/block-library/style.min.css?ver=108b9b825d66dedf17eb286cac868658' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='https://fundipau.org/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=108b9b825d66dedf17eb286cac868658' type='text/css' media='all' />
    <link rel='stylesheet' id='super-rss-reader-css-css' href='https://fundipau.org/wp-content/plugins/super-rss-reader/public/css/style.min.css?ver=108b9b825d66dedf17eb286cac868658' type='text/css' media='all' />
    <link rel='stylesheet' id='wspsc-style-css' href='https://fundipau.org/wp-content/plugins/wordpress-simple-paypal-shopping-cart/wp_shopping_cart_style.css?ver=4.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-css' href='https://fonts.googleapis.com/css?family=Oswald%3A400&#038;ver=2.8.1' type='text/css' media='all' />
    <link rel='stylesheet' id='genesis-tabs-stylesheet-css' href='https://fundipau.org/wp-content/plugins/genesis-tabs/style.css?ver=108b9b825d66dedf17eb286cac868658' type='text/css' media='all' />
    <link rel='stylesheet' id='slider_styles-css' href='https://fundipau.org/wp-content/plugins/genesis-responsive-slider/style.css?ver=0.9.5' type='text/css' media='all' />
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/plugins/super-rss-reader/public/js/script.min.js?ver=108b9b825d66dedf17eb286cac868658'></script>
    <script type='text/javascript' src='https://cdn.rawgit.com/vaakash/jquery-easy-ticker/92e6e76c/jquery.easy-ticker.min.js?ver=108b9b825d66dedf17eb286cac868658'></script>
    <!--[if lt IE 9]>
<script type='text/javascript' src='http://fundipau.org/wp-content/themes/genesis/lib/js/html5shiv.min.js?ver=3.7.3'></script>
<![endif]-->
    <link rel='https://api.w.org/' href='http://fundipau.org/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://fundipau.org/xmlrpc.php?rsd" />
    <link rel="alternate" type="application/json+oembed" href="http://fundipau.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffundipau.org%2Fcreixen-les-vendes-de-les-principals-empreses-darmes%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://fundipau.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ffundipau.org%2Fcreixen-les-vendes-de-les-principals-empreses-darmes%2F&#038;format=xml" />
    <link rel="canonical" href="https://fundipau.org/creixen-les-vendes-de-les-principals-empreses-darmes/" />

    <script type="text/javascript">
        (function(url) {
            if (/(?:Chrome\/26\.0\.1410\.63 Safari\/537\.31|WordfenceTestMonBot)/.test(navigator.userAgent)) {
                return;
            }
            var addEvent = function(evt, handler) {
                if (window.addEventListener) {
                    document.addEventListener(evt, handler, false);
                } else if (window.attachEvent) {
                    document.attachEvent('on' + evt, handler);
                }
            };
            var removeEvent = function(evt, handler) {
                if (window.removeEventListener) {
                    document.removeEventListener(evt, handler, false);
                } else if (window.detachEvent) {
                    document.detachEvent('on' + evt, handler);
                }
            };
            var evts = 'contextmenu dblclick drag dragend dragenter dragleave dragover dragstart drop keydown keypress keyup mousedown mousemove mouseout mouseover mouseup mousewheel scroll'.split(' ');
            var logHuman = function() {
                if (window.wfLogHumanRan) {
                    return;
                }
                window.wfLogHumanRan = true;
                var wfscr = document.createElement('script');
                wfscr.type = 'text/javascript';
                wfscr.async = true;
                wfscr.src = url + '&r=' + Math.random();
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(wfscr);
                for (var i = 0; i < evts.length; i++) {
                    removeEvent(evts[i], logHuman);
                }
            };
            for (var i = 0; i < evts.length; i++) {
                addEvent(evts[i], logHuman);
            }
        })('//fundipau.org/?wordfence_lh=1&hid=8B9B0567CCCDEA8DA07698E1BCF13826');
    </script>
    <!-- WP Simple Shopping Cart plugin v4.4.4 - https://www.tipsandtricks-hq.com/wordpress-simple-paypal-shopping-cart-plugin-768/ -->

    <script type="text/javascript">
        <!--
        //
        function ReadForm(obj1, tst) {
            // Read the user form
            var i, j, pos;
            val_total = "";
            val_combo = "";

            for (i = 0; i < obj1.length; i++) {
                // run entire form
                obj = obj1.elements[i]; // a form element

                if (obj.type == "select-one") { // just selects
                    if (obj.name == "quantity" ||
                        obj.name == "amount") continue;
                    pos = obj.selectedIndex; // which option selected
                    val = obj.options[pos].value; // selected value
                    val_combo = val_combo + " (" + val + ")";
                }
            }
            // Now summarize everything we have processed above
            val_total = obj1.product_tmp.value + val_combo;
            obj1.wspsc_product.value = val_total;
        }
        //-->
    </script>
    <style type="text/css">
        #header {
            background: url(https://fundipau.org/wp-content/uploads/2014/02/capcalera.png) no-repeat !important;
        }
    </style>
    <link rel="icon" href="https://fundipau.org/wp-content/uploads/2017/06/cropped-logo512-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://fundipau.org/wp-content/uploads/2017/06/cropped-logo512-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://fundipau.org/wp-content/uploads/2017/06/cropped-logo512-1-180x180.png" />
    <meta name="msapplication-TileImage" content="https://fundipau.org/wp-content/uploads/2017/06/cropped-logo512-1-270x270.png" />
</head>

<body class="post-template-default single single-post postid-16157 single-format-standard custom-background custom-header header-image content-sidebar metro-blue">

    <div id="wrap">



        <div id="header">
            <div class="wrap">
                <div id="title-area">
                    <p id="title"><a href="https://fundipau.org/">FundiPau</a></p>
                </div>
                <div class="widget-area header-widget-area">
                    <div id="text-11" class="widget widget_text">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <div id="telefon" class="telefon"><a href="mailto:info@fundipau.org">info@fundipau.org</a> - Telèfon 93 302 51 29<br />
                                    Av. Meridiana, 30 - 32, esc. A, entl. 2a - Barcelona</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Aquí anirà el codi dels idiomes -->

        <div id="idiomes">

            <a href="http://www.fundipau.org">Inici</a> || <a href="http://www.fundipau.org/quienes-somos">Castellano</a> | <a href="http://www.fundipau.org/about-us">English</a>

        </div>

        <!-- Aquí anirà el codi de les xarxes socials -->


        <noindex>
            <div id="xarxes_socials">

                <a href="http://www.facebook.com/fundacioperlapau"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/facebook.png" alt="facebook" longdesc="Facebook"></a>
                <a href="http://www.twitter.com/fundipau"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/twitter.png" alt="twitter" longdesc="twitter"></a>
                <a href="http://www.youtube.com/fundacioperlapau"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/youtube.png" alt="youtube" longdesc="youtube"></a>
                <a href="http://www.issuu.com/fundacioperlapau"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/issuu.png" alt="issuu" longdesc="isuu"></a>
                <a href="https://plus.google.com/photos/105762455803988605686/albums?banner=pwa"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/picasa.png" alt="picasa" longdesc="picasa"></a>

                <a href="/rss/"><img src="http://www.fundipau.org/wp-content/uploads/2013/02/rss.png" alt="rss" longdesc="rss"></a>

            </div>
        </noindex>
        <!-- Aquí s'acabarà el codi de les xarxes socials -->



        <div id="nav">
            <div class="wrap">
                <ul id="menu-header-navigation" class="menu genesis-nav-menu menu-primary js-superfish">
                    <li id="menu-item-436" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-436"><a href="http://fundipau.org/qui-som/">Qui som</a></li>
                    <li id="menu-item-440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-440"><a href="http://fundipau.org/que-fem/">Què fem</a>
                        <ul class="sub-menu">
                            <li id="menu-item-789" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-789"><a href="http://fundipau.org/activitat/">Activitats</a></li>
                            <li id="menu-item-818" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-818"><a href="http://fundipau.org/campanyes/">Campanyes</a></li>
                            <li id="menu-item-823" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-823"><a href="http://fundipau.org/publicacions/">Publicacions</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-478" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-478"><a href="http://fundipau.org/que-pots-fer-tu/">Què pots fer tu</a>
                        <ul class="sub-menu">
                            <li id="menu-item-5036" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5036"><a href="http://fundipau.org/fes-te-soci/">Fes-te soci</a></li>
                            <li id="menu-item-5045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5045"><a href="http://fundipau.org/fes-un-donatiu/">Fes un donatiu</a></li>
                            <li id="menu-item-5049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5049"><a href="http://fundipau.org/fes-te-voluntari-o-voluntaria/">Fes-te voluntari</a></li>
                            <li id="menu-item-5388" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-5388"><a href="http://fundipau.org/objeccio-fiscal/">Objecció fiscal</a></li>
                            <li id="menu-item-7718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7718"><a href="http://fundipau.org/fes-un-llegat-per-la-pau/">Fes un llegat</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477"><a href="http://fundipau.org/demana-informacio/">Demana informació</a></li>
                    <li class="right search">
                        <form method="get" class="searchform search-form" action="http://fundipau.org/" role="search"><input type="text" value="Cerca al web..." name="s" class="s search-input" onfocus="if ('Cerca al web...' === this.value) {this.value = '';}" onblur="if ('' === this.value) {this.value = 'Cerca al web...';}" /><input type="submit" class="searchsubmit search-submit" value="Search" /></form>
                    </li>
                </ul>
            </div>
        </div>
        <div id="subnav">
            <div class="wrap">
                <ul id="menu-sala-de-premsa" class="menu genesis-nav-menu menu-secondary js-superfish">
                    <li id="menu-item-1077" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-1077"><a href="http://fundipau.org/seccio/notes-de-premsa/">SALA DE PREMSA</a></li>
                    <li id="menu-item-6491" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6491"><a href="http://fundipau.org/seccio/sortim-a/">Sortim a&#8230;</a></li>
                </ul>
            </div>
        </div>
        <div id="inner">
            <div id="content-sidebar-wrap">
                <div id="content" class="hfeed">
                    <div class='data'>
                        10 Desembre 2018
                    </div>

                    <div class="post-16157 post type-post status-publish format-standard has-post-thumbnail hentry category-190 category-destacats category-notes-de-premsa entry">
                        <h1 class="entry-title">{{ site.title }}</h1>
                        <div class="entry-content">

<a name="counter"></a>
                            <p><a href="http://fundipau.org/industria-global-de-armas-las-empresas-de-los-estados-unidos-domina-la-lista-top-100-la-industria-de-armas-rusa-alcaza-el-segundo-lugar/">Comunicado de prensa en castellano</a> / <a href="https://www.sipri.org/media/press-release/2018/global-arms-industry-us-companies-dominate-top-100-russian-arms-industry-moves-second-place">Press Release in English</a></p>

{% include all.html %}

                            <h3>Les vendes d’armes i de serveis militars de les principals empreses productores del sector —la llista Top 100 del SIPRI— van arribar als 398.200 milions de dòlars el 2017, segons les noves dades sobre la indústria internacional d’armes fetes públiques avui per l’Stockholm International Peace Research Institute (SIPRI).</h3>
                            <p>El total de vendes de les SIPRI Top 100 el 2017 és un 2,5% superior que el 2016 i representa un increment del 44% des del 2002 (primer any del qual es disposa de dades comparables; les xifres exclouen la Xina). Aquest és el tercer any de creixement consecutiu en les vendes d’armes de la llista de les Top 100.</p>
                            <p><strong>Les empreses dels EUA augmenten la seva proporció de vendes d’armes en la llista Top 100</strong></p>
                            <p>Amb 42 empreses llistades el 2017, les companyies amb base als Estats Units van continuar dominant la llista Top 100 d’aquell any. Preses conjuntament, les vendes d’armes de les empreses nord-americanes van créixer un 2% el 2017, fins als 226.600 milions de dòlars, que van representar el 57% del total de vendes d’armes de les Top 100. Cinc companyies dels EUA van ser a la llista top 10 el 2017. ‘Les empreses nord-americanes es van beneficiar directament de l’actual demanda d’armes per part del Departament de Defensa nord-americà,’ afirma Aude Fleurant, directora del Programa d’Armes i Despesa Militar del SIPRI.</p>
                            <p>Lockheed Martin es va mantenir com a major empresa productora d’armes del món el 2017, amb vendes d’armament per valor de 44.900 milions de dòlars. ‘La bretxa entre Lockheed Martin i Boeing —les dues principals productores d’armes del món— va créixer dels 11.000 milions el 2016 als 18.000 milions el 2017,’ diu Fleurant.</p>
                            <p><strong>Rússia passa a ser el segon major productor d’armes del món de la llista Top 100</strong></p>
                            <p>La venta conjunta de les empreses d’armes russes va representar el 9,5 % del total de la llista de les Top 100, convertint Rússia en el segon major productor de la llista el 2017, —una posició que ocupava el Regne Unit des del 2002. Preses conjuntament, les vendes d’armes de les 10 empreses russes de la llista Top 100 van créixer un 8,5% el 2017, fins als 37.700 milions de dòlars. ‘Les empreses russes han experimentat un creixement significatiu en les seves vendes d’armes des del 2011,’ assegura Siemon Wezeman, investigador sènior en el Programa d’Armes i Despesa Militar del SIPRI. ‘Això es correspon a l’increment de la despesa russa en adquisició d’armes per modernitzar les seves forces armades.’</p>
                            <p>El 2017 una empresa russa va aparèixer entre les top 10 per primera vegada des que el SIPRI va començar a publicar anualment la seva llista Top 100. ‘Almaz-Antey, que ja era la major empresa productora d’armament russa, va incrementar les seves vendes d’armes un 17% el 2017, fins als 8.600 milions de dòlars,’ afirma Alexandra Kuimova, assistent de recerca en el Programa d’Armes i Despesa Militar del SIPRI.</p>
                            <p>Juntament amb Almaz-Antey, tres companyies russes més de la llista Top 100 van incrementar les seves vendes d’armes més d’un 15%: United Engine Corporation (25%), High Precision Systems (22%) i Tactical Missiles Corporation (19%).</p>
                            <p><strong>El Regne Unit es manté com a principal productor d’armes de l’Europa occidental</strong></p>
                            <p>Les vendes conjuntes d’armes de les 24 empreses de l’Europa Occidental de la llita Top 100 van créixer un 3,8% el 2017, fins als 94.900 milions de dòlars, que van representar el 23,8% del total de la Top 100. El Regne Unit va continuar sent el major productor d’armes de la regió el 2017, amb un total de vendes de 35.700 milions de dòlars i set companyies a la llista Top 100. ‘Les vendes conjuntes de les empreses britàniques van ser un 2,3% més elevades que el 2016,’ diu Fleurant. ‘Això es va deure principalment als increments de les vendes d’armes de BAE Systems, Rolls-Royce i GKN.’</p>
                            <p>BAE Systems, que ocupa la quarta posició a la llista Top 100, és la principal productora d’armes del Regne Unit. Les seves vendes van créixer un 3,3% el 2017, fins els 22.900 milions de dòlars.</p>
                            <p><strong>Altres dades remarcables</strong></p>
                            <p>• Les vendes d’armes d’empreses turques van créixer un 24% el 2017. ‘Aquest increment significatiu reflecteix l’ambició de Turquia de desenvolupar la seva indústria armamentística per satisfer la seva creixent demanda d’armes i ser menys depenent de proveïdors estrangers,’ diu Pieter Wezeman, investigador sènior del Programa d’Armes i Despesa Militar del SIPRI.</p>
                            <p>• Preses conjuntament, les vendes d’armes de les quatre empreses indies de la llista Top 100 van ser de 7.500 milions de dòlars el 2017, representant un 1,9% de les vendes d’armes de la llista Top 100.</p>
                            <p>• Les vendes de les top 15 empreses productores, llistades a la Fortune Global 500 van sumar 2,311 bilions de dòlars el 2017. Aquesta xifra és almenys deu vegades més gran que la de les vendes dels productors d’armes de la top 15 (231.600 milions de dòlars) el 2017, i gairebé sis vegades més gran que el total combinat de vendes d’armes de les Top 100 (398.200 milions de dòlars).</p>
                        </div>
                    </div>
                </div>
                <div id="sidebar" class="sidebar widget-area">
                    <div id="text-59" class="widget widget_text">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <div id='featured-img-id'><img src='http://fundipau.org/wp-content/uploads/2018/12/21871827753_556456dcfc_o.jpg' /></div>
                            </div>
                        </div>
                    </div>
                    <div id="text-42" class="widget widget_text">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <table style="width: 200px;" cellpadding="10">
                                    <tbody>
                                        <tr>
                                            <td><br />&nbsp;<a class="twitter-share-button" href="https://twitter.com/share" data-via="FundiPau" data-lang="ca" data-count="none">
                                                    Tweet</a>
                                                <script>
                                                    // <![CDATA[
                                                    ! function(d, s, id) {
                                                        var js, fjs = d.getElementsByTagName(s)[0],
                                                            p = /^http:/.test(d.location) ? 'http' : 'https';
                                                        if (!d.getElementById(id)) {
                                                            js = d.createElement(s);
                                                            js.id = id;
                                                            js.src = p + '://platform.twitter.com/widgets.js';
                                                            fjs.parentNode.insertBefore(js, fjs);
                                                        }
                                                    }(document, 'script', 'twitter-wjs');
                                                    // ]]>
                                                </script>
                                            </td>
                                            <td><a href="https://www.facebook.com/sharer.php" target="_blank"><img class="alignleft size-full wp-image-14309" src="http://fundipau.org/wp-content/uploads/2017/05/comparteix.png" alt="" width="82" height="22" /></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="text-49" class="widget widget_text">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <div id="soci"><a href="http://www.fundipau.org/fes-te-soci/"><img src="http://fundipau.org/wp-content/uploads/2013/02/soci1.png"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-widgets" class="footer-widgets">
        <div class="wrap">
            <div class="widget-area footer-widgets-1 footer-widget-area">
                <div id="text-30" class="widget widget_text">
                    <div class="widget-wrap">
                        <div class="textwidget">
                            <table width="100%" border="0" cellpadding="2">
                                <tr>
                                    <td valign="top">
                                        <p><img src="http://fundipau.org/wp-content/uploads/2013/06/logo.png" alt="FundiPau" width="96" height="85" align="left" /></p>
                                    </td>
                                    <td valign="top">FundiPau<br />
                                        Av. Meridiana, 30-32, esc. A, entl. 2a<br />08018 Barcelona<br /> <a href="mailto:info@fundipau.org">info@fundipau.org</a><br />
                                        Telèfon: 93 302 51 29</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="text-32" class="widget widget_text">
                    <div class="widget-wrap">
                        <div class="textwidget">
                            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.ca"><img alt="Llicència de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a><br />Aquesta obra està subjecta a una llicència de <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.ca">Reconeixement-NoComercial 3.0 No adaptada de Creative Commons</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <div class="wrap"></div>
    </div>
    <script type='text/javascript'>
        jQuery(document).ready(function($) {
            $(".flexslider").flexslider({
                controlsContainer: "#genesis-responsive-slider",
                animation: "slide",
                directionNav: 0,
                controlNav: 1,
                animationDuration: 800,
                slideshowSpeed: 9000
            });
        });
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = {
            "apiSettings": {
                "root": "https:\/\/fundipau.org\/wp-json\/contact-form-7\/v1",
                "namespace": "contact-form-7\/v1"
            }
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=108b9b825d66dedf17eb286cac868658'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/comment-reply.min.js?ver=108b9b825d66dedf17eb286cac868658'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/hoverIntent.min.js?ver=1.8.1'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/themes/genesis/lib/js/menu/superfish.min.js?ver=1.7.5'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/themes/genesis/lib/js/menu/superfish.args.min.js?ver=2.8.1'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/themes/genesis/lib/js/menu/superfish.compat.min.js?ver=2.8.1'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-content/plugins/genesis-responsive-slider/js/jquery.flexslider.js?ver=0.9.5'></script>
    <script type='text/javascript' src='https://fundipau.org/wp-includes/js/wp-embed.min.js?ver=108b9b825d66dedf17eb286cac868658'></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".ui-tabs").tabs();
        });
    </script>
</body>

</html>
