<!doctype html>
<!--[if lte IE 8 ]><html class="no-js lte-ie8" lang="it"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="it"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="it">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Firma anche tu per chiedere che venga dichiarato area protetta.">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="L'Artico ha bisogno della TUA voce!">
    <meta property="og:description" content="Firma anche tu per chiedere che venga dichiarato area protetta.">
    <meta property="og:image" content="https://www.peoplevsoil.org/it/assets/files/it/reindeer/artico_ospar.jpg">
    <title>{{ site.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/normalize.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/skeleton.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/font-awesome.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/awesome-bootstrap-checkbox.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/flapper.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/select2.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/fonts.min.css?1542214138">
    <link rel="stylesheet" type="text/css" href="https://www.peoplevsoil.org/assets/voices/assets/css/style.min.css?1542214138">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/modernizr.min.js?1542214138"></script>

    <base href="https://www.peoplevsoil.org/it/" />

    <!-- Init JS -->
    <script>
        // Global object
        Voices = {};

        Voices.cultureKey = 'it';
        Voices.petitionTrack = 'voices_voices';
        Voices.facebookPixel = '992979604107528';
    </script>
    <style>
        .textarea-wrapper.error {
            border-color: #e35252;
        }
    </style>

    <style>
        .third-section {
            display: none;
        }
    </style>
</head>

<body id="page-home">

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TSBGGC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TSBGGC');
    </script>
    <!-- End Google Tag Manager -->

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: 860065154026884,
                xfbml: true,
                version: 'v2.8'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script type="text/javascript">
        var init = [];
    </script>

    <!--[if lte IE 7]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

    <header>
        <div class="row">
            <div class="container">
                <a class="savethearctic" href="https://www.peoplevsoil.org/it/voices/"></a>
                <!--div class="select-wrapper">
					<select id="language" class="select2 ignore">

					</select>
				</div-->
                <!--a class="greenpeace" href="" target="_blank"></a -->
                <a class="button social fa fa-twitter" href="https://twitter.com/home?status=Ho%20appena%20firmato%20per%20proteggere%20l'Artico%20%23voices4arctic%20%23SaveTheArctic%20http://bit.ly/voices4arctic" target="_blank" data-channel="twitter"></a>
                <a class="button social fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.savethearctic.org/it/voices/" target="_blank" data-channel="facebook"></a>
            </div>
        </div>
    </header>


    <section class="first-section">
        <div class="row">
            <div class="container">
                <h1>{{ site.title }}</h1>
                <p>Pharetra diam sit amet nisl. Id velit ut tortor pretium viverra suspendisse potenti.</p>
            </div>
        </div>
    </section>

    <section class="petition-section ">
        <div class="row">
            <h3>Lascia un messaggio con le tue ragioni per salvare questo luogo unico</h3>
            <p>E firma la petizione affinché l'Artico diventi un'area protetta!</p>
        </div>
        <div class="row">
            <form method="post" action="https://www.peoplevsoil.org/it/voices/" autocomplete="off" id="petition-form">

                <div class="row form-group">
                    <a href="#" class="close">chiudi</a>
                </div>
                <div class="row form-group">
                    <div class="textarea-wrapper">
                        <textarea name="reasons" placeholder="Scrivi un messaggio libero, o scegline uno. Clicca sul pulsante per avere l'ispirazione!" maxlength="100" required>Salvare l'Artico è un dovere anche verso le popolazioni indigene che vi abitano.</textarea>
                        <a href="#">
                            <div class="arrow-wrapper">
                                <div class="arrow up"></div>
                                <div class="arrow down"></div>
                            </div>
                            <span>Ispirami!</span>
                        </a>
                    </div>
                    <ul>
                        <li>Quello che succede in Artico ci riguarda tutti. Per questo chiedo che venga protetto.</li>
                        <li>Perché il Futuro del Pianeta non è business. Per questo voglio proteggere l’Artico!</li>
                        <li>L’Artico deve essere salvato, perché è vitale per regolare il riscaldamento globale.</li>
                        <li>Dobbiamo proteggere l'Artico, perché ha una biodiversità unica.</li>
                        <li>Perché penso al futuro del Pianeta per i miei figli. Anche per questo voglio proteggere l'Artico.</li>
                        <li>Voglio un Artico libero dallo sfruttamento, perché è la casa degli orsi polari!</li>
                        <li>Salvare l'Artico è un dovere anche verso le popolazioni indigene che vi abitano.</li>
                        <li>Quello che succede in Artico ci riguarda tutti. Per questo chiedo che venga protetto.</li>
                        <li>Voglio che l’Artico sia rispettato, perché negli ultimi 30 anni ¾ dei suoi ghiacci si sono sciolti.</li>
                        <li>Voglio proteggere l'Artico, perché 4 milioni di persone che ci vivono dipendono da questo.</li>
                        <li>Le compagnie petrolifere non possono tenere in mano il nostro futuro. Voglio un Santuario Protetto!</li>
                    </ul>
                </div>
                <div class="row form-group">
                    <input class="u-full-width email_it" type="email" name="email" id="email" value="" required>
                    <label for="email" id="email_label">Email</label>
                    <p class="error">Please check your email address</p>
                </div>
                <fieldset>

                    <input type="hidden" name="thanksUrl" value="" />
                    <input type="hidden" name="startVoicesResource" value="5619" />


                    <input name="authenticity_token" type="hidden" />
                    <input type="hidden" name="petitionSlug" value="voices" />
                    <input type="hidden" name="usermeta" value="" />
                    <input type="hidden" name="source" value="" />
                    <input type="hidden" name="subsource" value="" />
                    <input type="hidden" name="facebook_login" id="facebook_login_input" value="" />
                    <input type="hidden" name="language" value="it" />
                    <input type="hidden" name="mainResourceId" value="5619" />
                    <div class="row form-group">
                        <input id="first_name" class="u-full-width first_name_it" type="text" name="first_name" value="" required data-store />
                        <label for="first_name" id="first_name_label">Nome*</label>
                        <p class="error">Please check this field</p>
                    </div>
                    <div class="row form-group">
                        <input id="last_name" class="u-full-width last_name_it" type="text" name="last_name" value="" required data-store />
                        <label for="last_name" id="last_name_label">Cognome*</label>
                        <p class="error">Please check this field</p>
                    </div>
                    <div class="row form-group">
                        <input id="phone" class="u-full-width phone_it" type="tel" name="phone" value="" data-store />
                        <label for="phone">Telefono</label>
                        <p class="error">Please check the phone number</p>
                    </div>

                    <div class="row form-group checkbox row-hidden">
                        <input id="newsletterCheckbox" type="checkbox" value="1" name="send_updates" checked class="checkbox-hidden">
                        <label for="newsletterCheckbox" class="checkbox-hidden">
						<p>Firmando la petizione entri a far parte del movimento #SaveTheArctic e riceverai informazioni in linea con le tue preferenze e interessi su questa e altre attivit&agrave; di Greenpeace. Tuteliamo la tua <a href="http://www.greenpeace.org/italy/it/privacy/Privacy-cyberattivismo/" target="_blank">privacy</a>.</p>
					</label>
                        <p class="error">Please check this field</p>
                    </div>

                    <div class="row form-group">
                        <button type="submit" class="u-full-width primary">FIRMA ORA</button>
                    </div>


                </fieldset>
                <div class="row form-group">



                    <a class="button wrap u-full-width" href="/it/voices/wall/">Guarda quante persone stanno facendo sentire la loro voce</a>
                </div>
            </form>
        </div>
    </section>

    <section class="second-section">
        <div class="row">
            <div class="container">
                <div class="box">
                    <p>Chiedo che l’Artico sia protetto, perché negli ultimi 30 anni ¾ dei suoi ghiacci si sono sciolti. <span class="hashtag">#voices4arctic</span></p>
                    <p class="u-text-right">Laura, Londra</p><br />
                    <p class="share">Condividi <a href="https://twitter.com/home?status=Chiedo+che+l%E2%80%99Artico+sia+protetto%2C+perch%C3%A9+negli+ultimi+30+anni+%C2%BE+dei+suoi+ghiacci+si+sono+sciolti.%20%23voices4arctic%20https://www.peoplevsoil.org/it/voices/" class="button social fa fa-twitter" target="_blank"></a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="third-section">
        <div class="row">
            <div class="container">
                <h2>Tempo rimanente</h2>
                <p>Il 20 Giugno si riunirà l'OSPAR, un organismo internazionale che deciderà sull'istituzione di un'area protetta nel Mar Glaciale Artico. Se i Governi ascolteranno la voce del nostro movimento, riusciremo a proteggere quasi il 10% del nostro santuario.
                </p>
            </div>
        </div>
        <div class="row counter" data-counter-date="20 june 2016 12:00:00">
            <div class="container">
                <div class="three columns">
                    <input type="text" class="flap flap-days" />
                    <span>Giorno</span>
                </div>
                <div class="three columns">
                    <input type="text" class="flap flap-hours" />
                    <span>Ora</span>
                </div>
                <div class="three columns">
                    <input type="text" class="flap flap-minutes" />
                    <span>Minuti</span>
                </div>
                <div class="three columns">
                    <input type="text" class="flap flap-seconds" />
                    <span>Secondi</span>
                </div>
            </div>
        </div>
    </section>
    <section class="fourth-section">
        <div class="row">
            <div class="container">
                <div class="twelve columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo vel orci porta non pulvinar neque. Interdum velit euismod in pellentesque.</p>

<style>
{% include styles.css %}
</style>
{% include structured_content.html %}
<script>
{% include scripts.js %}
</script>

                    <p>Placerat duis ultricies lacus sed turpis tincidunt. Morbi tristique senectus et netus et malesuada fames ac turpis. Viverra vitae congue eu consequat ac felis donec.</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="container">
                <div class="twelve columns">
                    <a class="greenpeace" href="http://www.greenpeace.org" target="_blank"></a>
                    <a href="http://www.greenpeace.org/italy/it/privacy/Privacy-cyberattivismo/" target="_blank">Privacy</a>
                    <a class="lattecreative" href="http://www.lattecreative.com/" target="_blank"></a>

                </div>
            </div>
        </div>
        <a href="#" class="sign">Firma</a>
    </footer>

    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery-2.1.4.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jshashtable.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.numberformatter.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.transform.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.transform.attributes.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.flapper.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.scrollTo.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/jquery.validate.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/select2.min.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/js.cookie.js?1542214138"></script>
    <script type="text/javascript" src="https://www.peoplevsoil.org/assets/voices/assets/js/app.js?1542214138"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            for (i = 0; i < init.length; i++) {
                initializer = init[i];
                $.proxy(initializer, this)();
            }
        });
    </script>

</body>

</html>
